<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideoPlayer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VideoPlayer.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div style="background-color: black; color: white; padding: 10px;font-weight: bold; font-size: 23px;">Video Catalogue</div>
        <nav class=" custom-navagation navbar navbar-expand-sm navbar-toggleable-sm  navbar-light" style="height:40px">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Upload" asp-action="Catalogue">Catalogue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Upload" asp-action="UploadFiles">Upload</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container custom-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
